/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.class
*.log

# Package files
*.war
*.jar
*.ear

# Maven
out/
target/

# OSX
.DS_STORE
.Trashes

# Windows
Desktop.ini
Thumbs.db

# Project specific
merged-dependencies.dot.png

# Backup files
*.bak